body {
    font-family: sans-serif;
    background-color: white;
    color: black;
    font-size: 20pt;
    height:100vh;
}

h1{
  font-family: Futura-bold;
  font-size: 100pt;
}

ul{
  padding: 0px;
  list-style: none;
}

li{
  margin: 0 0 40px 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.logo{
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.dab{
  height:150px;
  border-color: white;
  border-style: solid;
  border-width: 11px;
  background-color: black;
}

.spinning {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
