body {
    font-family: sans-serif;
    background-color: white;
    color: black;
    font-size: 20pt;
    height:100vh;
}

h1{
  font-family: Futura-bold;
  font-size: 100pt;
}

ul{
  padding: 0px;
  list-style: none;
}

li{
  margin: 0 0 40px 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.row{
  height:100%;
}

.left-table{
  height:80%;
  width:100%;
}

.right-table{
   height:90%;
}

.name{
  font-size:15pt;
}

.logo{
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.dab{
  height:150px;
}
